.form {
  border: 5px solid black;
  padding: 10px;
  background-color: black;
  color: rgb(189, 175, 123);
  font-size: 15px;
  font-weight: bold;
}
.input {
  width: 30%;
  height: 20px;
}

p {
  display: inline;
}

.change {
  color: #f3edf0;
  background-color: #39129d;
  border: 5px #f8f5f5;
  font-weight: bold;
  font-size: 15px;
}
.sep {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.border {
  border: 2px solid cornsilk;
  width: 600px;
  height: 300px;
}
.button:hover {
  background-color: white;
  color: #39129d;
}
