.App {
  text-align: center;
}
h1,
h5 {
  color: rgb(204, 177, 68);
 
}
.Main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
h5 {
 padding-top: 20px;
 
}
